[Unit]
Description=curl-st
After=network.target

[Service]
WorkingDirectory=/home/admin/curl-st
ExecStart=/home/admin/curl-st/.venv/bin/python server.py
Restart=always

[Install]
WantedBy=multi-user.target